// MAIN CONTAINER STYLE
@mixin containerStyle($padding, $flex-direction, $margin) {
  padding: $padding;
  margin: $margin;
  display: flex;
  flex-direction: $flex-direction;
}
// COLORS
$basic-color:#1c1d1f;
$basic-color-grey:#202022;
$font-color:#c9c8c8;
$darker-color:#b1b1b1;
$pink-color: #ff4a57;
$violet-color: #797dff;
$orange-color: #f75a37;
$shadow-color: rgba(0, 0, 0, 0.25);

$bright-filter: invert(84%) sepia(5%) saturate(18%) hue-rotate(314deg)
  brightness(94%) contrast(91%);
$medium-filter: invert(84%) sepia(5%) saturate(18%) hue-rotate(314deg)
  brightness(94%) contrast(91%);
$orange-filter: invert(45%) sepia(30%) saturate(6582%) hue-rotate(342deg) brightness(109%) contrast(94%);

// FONTS
$header-font-family: "Rubik", sans-serif;
$text-font-family: "Rubik", sans-serif;

// TEXT
@mixin uniHeader12($text-align) {
  font-family: $header-font-family;
  letter-spacing: 4%;
  font-weight: 500;
  text-align: $text-align;
  color: $font-color;
  margin: 0vh 0vw 3.5vh 0vw;
}
@mixin uniHeader34($text-align, $text-transform) {
  font-family: $header-font-family;
  font-weight: 500;
  text-align: $text-align;
  color: $darker-color;
  margin: 0.5vh 0vw 0.5vh 0vw;
  text-transform: $text-transform;
}
@mixin uniText($text-align) {
  font-family: $text-font-family;
  text-align: $text-align;
  color: $font-color;
  margin: 0vh 0vw 0vh 0vw;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 160%;
}

// TEXT - Full screen

@mixin header1() {
  font-size: 3.5rem;
}
@mixin header2() {
  font-size: 2.2rem;
}
@mixin header3() {
  font-size: 1.2rem;
}
@mixin header4() {
  font-size: 1rem;
}
@mixin text() {
  font-size: 0.95rem;
}
@mixin smallText() {
  font-size: 0.9rem;
}
@mixin buttonText() {
  font-size: 0.85rem;
}

// TEXT - 1300px - 1700px
@mixin header1_1700() {
  font-size: 3.3rem;
}
@mixin header2_1700() {
  font-size: 1.8rem;
}
@mixin header3_1700() {
  font-size: 1.1rem;
}
@mixin header4_1700() {
  font-size: 1rem;
}
@mixin text_1700() {
  font-size: 0.95rem;
}
@mixin buttonText_1700() {
  font-size: 0.85rem;
}

// TEXT - 900px - 1300px
@mixin header1_1300() {
  font-size: 3.2rem;
}
@mixin header2_1300() {
  font-size: 1.5rem;
}
@mixin header3_1300() {
  font-size: 1rem;
}
@mixin header4_1300() {
  font-size: 0.95rem;
}
@mixin text_1300() {
  font-size: 0.9rem;
}
@mixin buttonText_1300() {
  font-size: 0.8rem;
}
// TEXT - 600px - 900px

@mixin header1_900() {
  font-size: 2.9rem;
}
@mixin header2_900() {
  font-size: 1.4rem;
}
@mixin header3_900() {
  font-size: 0.9rem;
}
@mixin header4_900() {
  font-size: 0.9rem;
}
@mixin text_900() {
  font-size: 0.85rem;
}
@mixin buttonText_900() {
  font-size: 0.8rem;
}

// TEXT - 450px - 600px

@mixin header1_600() {
  font-size: 2.5rem;
}
@mixin header2_600() {
  font-size: 1.3rem;
}
@mixin header3_600() {
  font-size: 0.8rem;
}
@mixin header4_600() {
  font-size: 0.85rem;
}
@mixin text_600() {
  font-size: 0.85rem;
}
@mixin buttonText_600() {
  font-size: 0.75rem;
}
// TEXT - 0px - 450px

@mixin header1_450() {
  font-size: 1.9rem;
}
@mixin header2_450() {
  font-size: 1.2rem;
}
@mixin header3_450() {
  font-size: 0.75rem;
}
@mixin header4_450() {
  font-size: 0.8rem;
}
@mixin text_450() {
  font-size: 0.8rem;
}
@mixin buttonText_450() {
  font-size: 0.75em;
}

// BUTTON
@mixin button($width) {
  @include uniHeader34(center, uppercase);
  margin: 0vh 0vw 0vh 0vw;
  width: $width;
  height: 5vh;
  border-radius: 2.5vh;
  border: 1px solid #e7e7e7;
  background-color:$basic-color-grey;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

//    NAVIGATION
@mixin navigationButton($margin) {
  justify-content: center;
  align-items: center;
  display: flex;
  text-transform: uppercase;
  margin: $margin;
  list-style: none;
  display: inline-block;
}
