@import "../../variables/variables.scss";
.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(155px, 1fr));
  grid-template-rows: 25% repeat(auto-fit, 25%, 25%, 25%, 25%) 25%;
  grid-gap: 1.3em;
}
.skillIcon {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 2%;
  background-color: $basic-color-grey;
  box-sizing: border-box;

  img {
    width: 40px;
    height: 40px;
    filter: $medium-filter;
    padding: 10px 10px 10px 10px;
    z-index: 0;
    &:hover {
      filter: $orange-filter;
    }
  }
  h3 {
    @include buttonText();
    @include uniHeader34(center, uppercase);
    color: $medium-filter;
    &:hover {
      color: $orange-color;
    }
  }
}

// 1300px - 1700px
@media only screen and (max-width: 1700px) {
  .skillIcon {
    h3 {
      @include buttonText_1700();
    }
  }
}

// 900px - 1300px
@media only screen and (max-width: 1300px) {
  .wrapper {
    margin: 4vh 0vw 4vh 0vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    &:before {
      content: "";
      width: 0;
      padding-bottom: 100%;
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }
    :first-child {
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }
  }
  .skillIcon {
    align-items: center;
    height: 100%;
    h3 {
      @include buttonText_1300();
    }
    img {
      padding: 0px 0px 0px 0px;
      width: 50px;
      height: 50px;
    }
  }
}

// 600px - 900px
@media only screen and (max-width: 900px) {
  .wrapper {
    grid-template-columns: repeat(3, minmax(80px, 1fr));
  }
  .skillIcon {
    h3 {
      @include buttonText_900();
    }
  }
}

// 450px - 600px
@media only screen and (max-width: 600px) {
  .wrapper {
    grid-template-columns: repeat(2, minmax(80px, 1fr));
  }
  .skillIcon {
    img {
      width: 25%;
      height: 25%;
      padding: 10px 10px 10px 10px;
    }
    h3 {
      @include buttonText_600();
    }
  }
}

// 0px - 450px
@media only screen and (max-width: 450px) {
  .wrapper {
    grid-template-columns: repeat(2, minmax(30px, 1fr));
    grid-gap: 0.3em;
  }
  .skillIcon {
    h3 {
      @include buttonText_450();
    }
    img {
      width: 40px;
      height: 40px;
      padding: 10px 10px 10px 10px;
    }
  }
}
