@import "../../variables/variables.scss";

.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  grid-template-rows: 25% repeat(auto-fit, 25%, 25%, 25%, 25%) 25%;
  grid-gap: 1.3em;
}
.skillIcon {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  img {
    width: 60px;
    height: 60px;
    filter: $dark-filter;
    padding: 10px 10px 10px 10px;
    z-index: 0;
    &:hover {
      filter: invert(55%) sepia(50%) saturate(7486%) hue-rotate(1deg)
        brightness(103%) contrast(107%);
    }
  }
  h3 {
    @include uniHeader34(center, uppercase);
    @include header3();
    &:hover {
      color: $orange-color;
    }
  }
  &:hover {
    border: 3px solid $orange-color;
  }
}
.strong {
  border: 4px solid $dark-color;
  box-shadow: 0px 6px 6px $shadow-color;
}
.medium {
  border: 3px solid $dark-color;
  box-shadow: 0px 3px 3px $shadow-color;
}
.weak {
  border: 2px solid $dark-color;
  box-shadow: 0px 1px 1px $shadow-color;
}

// 1300px - 1700px
@media only screen and (max-width: 1700px) {
  .skillIcon {
    h3 {
      @include header3_1700();
    }
  }
}

// 900px - 1300px
@media only screen and (max-width: 1300px) {
  .wrapper {
    margin: 4vh 0vw 4vh 0vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    &:before {
      content: "";
      width: 0;
      padding-bottom: 100%;
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }
    :first-child {
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }
  }
  .skillIcon {
    align-items: center;
    height: 100%;
    h3 {
      @include header3_1300();
    }
    img {
      padding: 0px 0px 0px 0px;
      width: 50px;
      height: 50px;
    }
  }
}

// 600px - 900px
@media only screen and (max-width: 900px) {
  .wrapper {
    grid-template-columns: repeat(3, minmax(80px, 1fr));
  }
  .skillIcon {
    h3 {
      @include header3_900();
    }
  }
}

// 450px - 600px
@media only screen and (max-width: 600px) {
  .wrapper {
    grid-template-columns: repeat(2, minmax(80px, 1fr));
  }
  .skillIcon {
    img {
      padding: 10px 10px 10px 10px;
    }
    h3 {
      @include header3_600();
    }
  }
}

// 0px - 450px
@media only screen and (max-width: 450px) {
  .wrapper {
    grid-template-columns: repeat(1, minmax(40px, 1fr));
  }
  .skillIcon {
    h3 {
      @include header3_450();
    }
    img {
      width: 60px;
      height: 60px;
      padding: 10px 10px 10px 10px;
    }
  }
}
